In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/hyderabad-city-power-consumptions/Hyderabad_Power_Train.csv
/kaggle/input/hyderabad-city-power-consumptions/Hyderabad_Power_Test.csv
/kaggle/input/hyderabad-city-power-consumptions/sample_submisson.csv

In [2]:
df_train=pd.read_csv('/kaggle/input/hyderabad-city-power-consumptions/Hyderabad_Power_Train.csv')

In [3]:
df_test=pd.read_csv('/kaggle/input/hyderabad-city-power-consumptions/Hyderabad_Power_Test.csv')

In [4]:
df_train

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,NaN,74.5,0.080,0.062,NaN,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,NaN,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,NaN,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
47591,2017-11-30 23:10:00,12.650,85.9,0.074,0.051,NaN,31347.69231,25705.78512,13301.20482
47592,2017-11-30 23:20:00,12.620,86.1,0.071,0.069,0.052,30603.07692,25088.42975,13081.44578
47593,2017-11-30 23:30:00,12.630,86.2,0.071,0.066,0.104,29889.23077,24571.48760,12740.24096
47594,2017-11-30 23:40:00,NaN,86.1,0.071,0.066,0.078,29249.23077,23942.97521,12480.00000
47595,2017-11-30 23:50:00,12.210,85.9,0.073,0.029,0.130,28584.61538,23444.62810,12260.24096

In [5]:
df_train.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [6]:
df_train.describe

<bound method NDFrame.describe of                   DateTime  Temperature  Humidity  Wind Speed  \
0      2017-01-01 00:00:00        6.559      73.8       0.083
1      2017-01-01 00:10:00        6.414      74.5       0.083
2      2017-01-01 00:20:00          NaN      74.5       0.080
3      2017-01-01 00:30:00        6.121      75.0       0.083
4      2017-01-01 00:40:00        5.921      75.7       0.081
...                    ...          ...       ...         ...
47591  2017-11-30 23:10:00       12.650      85.9       0.074
47592  2017-11-30 23:20:00       12.620      86.1       0.071
47593  2017-11-30 23:30:00       12.630      86.2       0.071
47594  2017-11-30 23:40:00          NaN      86.1       0.071
47595  2017-11-30 23:50:00       12.210      85.9       0.073

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062            NaN               29128.10127
3                        NaN          0.096               28228.86076
4                        NaN          0.085               27335.69620
...                      ...            ...                       ...
47591                  0.051            NaN               31347.69231
47592                  0.069          0.052               30603.07692
47593                  0.066          0.104               29889.23077
47594                  0.066          0.078               29249.23077
47595                  0.029          0.130               28584.61538

       Zone 2  Power Consumption  Zone 3  Power Consumption
0                    16128.87538                20240.96386
1                    19375.07599                20131.08434
2                    19006.68693                19668.43373
3                    18361.09422                18899.27711
4                    17872.34043                18442.40964
...                          ...                        ...
47591                25705.78512                13301.20482
47592                25088.42975                13081.44578
47593                24571.48760                12740.24096
47594                23942.97521                12480.00000
47595                23444.62810                12260.24096

[47596 rows x 9 columns]>

In [7]:
missing_values = df_train.isnull()

In [8]:
missing_values_count = missing_values.sum()

In [9]:
missing_values_count

DateTime                        0
Temperature                  5725
Humidity                     3611
Wind Speed                   4412
general diffuse flows        5653
diffuse flows                4048
Zone 1 Power Consumption        0
Zone 2  Power Consumption       0
Zone 3  Power Consumption       0
dtype: int64

In [10]:
df_train.fillna(method='ffill', inplace=True)

In [11]:
df_train.dtypes

DateTime                      object
Temperature                  float64
Humidity                     float64
Wind Speed                   float64
general diffuse flows        float64
diffuse flows                float64
Zone 1 Power Consumption     float64
Zone 2  Power Consumption    float64
Zone 3  Power Consumption    float64
dtype: object

In [12]:
col=list(df_train.columns)

In [13]:
col

['DateTime',
 'Temperature',
 'Humidity',
 'Wind Speed',
 'general diffuse flows',
 'diffuse flows',
 'Zone 1 Power Consumption',
 'Zone 2  Power Consumption',
 'Zone 3  Power Consumption']

In [14]:
from sklearn.preprocessing import StandardScaler
cols_to_normalize = col[1:6]

# Create the scaler object
scaler = StandardScaler()

# Fit and transform the selected columns
normalized_data = scaler.fit_transform(df_train[cols_to_normalize])

# Replace the original values with the normalized values
df_train[cols_to_normalize] = normalized_data

# Print the first five rows of the normalized data
print(df_train.head())

              DateTime  Temperature  Humidity  Wind Speed  \
0  2017-01-01 00:00:00    -2.222861  0.358089   -0.853606
1  2017-01-01 00:10:00    -2.248151  0.402658   -0.853606
2  2017-01-01 00:20:00    -2.248151  0.402658   -0.854868
3  2017-01-01 00:30:00    -2.299253  0.434494   -0.853606
4  2017-01-01 00:40:00    -2.334135  0.479064   -0.854447

   general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0              -0.702507      -0.614268               34055.69620
1              -0.702437      -0.614534               29814.68354
2              -0.702466      -0.614534               29128.10127
3              -0.702466      -0.614448               28228.86076
4              -0.702466      -0.614534               27335.69620

   Zone 2  Power Consumption  Zone 3  Power Consumption
0                16128.87538                20240.96386
1                19375.07599                20131.08434
2                19006.68693                19668.43373
3                18361.09422                18899.27711
4                17872.34043                18442.40964

In [15]:
unique_values = df_train.nunique()

# Print the unique values
print(unique_values)

DateTime                     47596
Temperature                   3171
Humidity                      4324
Wind Speed                     508
general diffuse flows         9622
diffuse flows                 9659
Zone 1 Power Consumption     25273
Zone 2  Power Consumption    26661
Zone 3  Power Consumption    21334
dtype: int64

In [16]:
df_train.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,27335.69620,17872.34043,18442.40964

In [17]:
df_train[['Date', 'Time']] = df_train['DateTime'].str.split(' ', expand=True)

# Extract Year, Month, and Day from Date column
df_train[['Year', 'Month', 'Day']] = df_train['Date'].str.split('-', expand=True)

# Combine Hour, Minute, and Second into Time column
df_train['Time'] = df_train['Time'].str.split(':').apply(lambda x: x[0] + ':' + x[1])

# Drop original DateTime and Date columns
df_train= df_train.drop(columns=['DateTime', 'Date'])
# Split Time column into separate Hour and Minute columns
df_train[['Hour', 'Minute']] = df_train['Time'].str.split(':', expand=True)

# Convert Hour and Minute columns to integers
df_train['Hour'] = df_train['Hour'].astype(int)
df_train['Minute'] =df_train['Minute'].astype(int)

# Calculate total number of minutes
df_train['TotalMinutes'] = (df_train['Hour'] * 60) + df_train['Minute']

# Drop original Time, Hour, and Minute columns
df_train = df_train.drop(columns=['Time', 'Hour', 'Minute'])

In [18]:
df_train

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,34055.69620,16128.87538,20240.96386,2017,01,01,0
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,29814.68354,19375.07599,20131.08434,2017,01,01,10
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,29128.10127,19006.68693,19668.43373,2017,01,01,20
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,28228.86076,18361.09422,18899.27711,2017,01,01,30
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,27335.69620,17872.34043,18442.40964,2017,01,01,40
...,...,...,...,...,...,...,...,...,...,...,...,...
47591,-1.160531,1.128508,-0.857391,-0.702507,-0.614385,31347.69231,25705.78512,13301.20482,2017,11,30,1390
47592,-1.165763,1.141242,-0.858652,-0.702440,-0.614792,30603.07692,25088.42975,13081.44578,2017,11,30,1400
47593,-1.164019,1.147609,-0.858652,-0.702451,-0.614385,29889.23077,24571.48760,12740.24096,2017,11,30,1410
47594,-1.164019,1.141242,-0.858652,-0.702451,-0.614589,29249.23077,23942.97521,12480.00000,2017,11,30,1420
47595,-1.237271,1.128508,-0.857811,-0.702588,-0.614182,28584.61538,23444.62810,12260.24096,2017,11,30,1430

In [19]:
df_train.columns

Index(['Temperature', 'Humidity', 'Wind Speed', 'general diffuse flows',
       'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption', 'Year',
       'Month', 'Day', 'TotalMinutes'],
      dtype='object')

In [20]:
l1=list(df_train.columns)

In [21]:
df_train.columns

Index(['Temperature', 'Humidity', 'Wind Speed', 'general diffuse flows',
       'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption', 'Year',
       'Month', 'Day', 'TotalMinutes'],
      dtype='object')

In [22]:
l1=l1[8:]

In [23]:
df_train.dtypes

Temperature                  float64
Humidity                     float64
Wind Speed                   float64
general diffuse flows        float64
diffuse flows                float64
Zone 1 Power Consumption     float64
Zone 2  Power Consumption    float64
Zone 3  Power Consumption    float64
Year                          object
Month                         object
Day                           object
TotalMinutes                   int64
dtype: object

In [24]:
df_train['Year']=df_train['Year'].astype('int64')
df_train['Month']=df_train['Month'].astype('int64')
df_train['Day']=df_train['Day'].astype('int64')

In [25]:
l1

['Year', 'Month', 'Day', 'TotalMinutes']

In [26]:
cols_to_normalize=l1
normalized_data = scaler.fit_transform(df_train[cols_to_normalize])

# Replace the original values with the normalized values
df_train[cols_to_normalize] = normalized_data

In [27]:
df_train.head()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,34055.69620,16128.87538,20240.96386,0.0,-1.590576,-1.673245,-1.720065
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,29814.68354,19375.07599,20131.08434,0.0,-1.590576,-1.673245,-1.696007
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,29128.10127,19006.68693,19668.43373,0.0,-1.590576,-1.673245,-1.671949
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,28228.86076,18361.09422,18899.27711,0.0,-1.590576,-1.673245,-1.647891
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,27335.69620,17872.34043,18442.40964,0.0,-1.590576,-1.673245,-1.623833

In [28]:
df_train

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,34055.69620,16128.87538,20240.96386,0.0,-1.590576,-1.673245,-1.720065
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,29814.68354,19375.07599,20131.08434,0.0,-1.590576,-1.673245,-1.696007
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,29128.10127,19006.68693,19668.43373,0.0,-1.590576,-1.673245,-1.671949
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,28228.86076,18361.09422,18899.27711,0.0,-1.590576,-1.673245,-1.647891
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,27335.69620,17872.34043,18442.40964,0.0,-1.590576,-1.673245,-1.623833
...,...,...,...,...,...,...,...,...,...,...,...,...
47591,-1.160531,1.128508,-0.857391,-0.702507,-0.614385,31347.69231,25705.78512,13301.20482,0.0,1.578644,1.627942,1.623991
47592,-1.165763,1.141242,-0.858652,-0.702440,-0.614792,30603.07692,25088.42975,13081.44578,0.0,1.578644,1.627942,1.648049
47593,-1.164019,1.147609,-0.858652,-0.702451,-0.614385,29889.23077,24571.48760,12740.24096,0.0,1.578644,1.627942,1.672107
47594,-1.164019,1.141242,-0.858652,-0.702451,-0.614589,29249.23077,23942.97521,12480.00000,0.0,1.578644,1.627942,1.696165
47595,-1.237271,1.128508,-0.857811,-0.702588,-0.614182,28584.61538,23444.62810,12260.24096,0.0,1.578644,1.627942,1.720223

In [29]:
df_train

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,34055.69620,16128.87538,20240.96386,0.0,-1.590576,-1.673245,-1.720065
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,29814.68354,19375.07599,20131.08434,0.0,-1.590576,-1.673245,-1.696007
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,29128.10127,19006.68693,19668.43373,0.0,-1.590576,-1.673245,-1.671949
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,28228.86076,18361.09422,18899.27711,0.0,-1.590576,-1.673245,-1.647891
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,27335.69620,17872.34043,18442.40964,0.0,-1.590576,-1.673245,-1.623833
...,...,...,...,...,...,...,...,...,...,...,...,...
47591,-1.160531,1.128508,-0.857391,-0.702507,-0.614385,31347.69231,25705.78512,13301.20482,0.0,1.578644,1.627942,1.623991
47592,-1.165763,1.141242,-0.858652,-0.702440,-0.614792,30603.07692,25088.42975,13081.44578,0.0,1.578644,1.627942,1.648049
47593,-1.164019,1.147609,-0.858652,-0.702451,-0.614385,29889.23077,24571.48760,12740.24096,0.0,1.578644,1.627942,1.672107
47594,-1.164019,1.141242,-0.858652,-0.702451,-0.614589,29249.23077,23942.97521,12480.00000,0.0,1.578644,1.627942,1.696165
47595,-1.237271,1.128508,-0.857811,-0.702588,-0.614182,28584.61538,23444.62810,12260.24096,0.0,1.578644,1.627942,1.720223

In [30]:
l1=list(df_train.columns)

In [31]:
l1

['Temperature',
 'Humidity',
 'Wind Speed',
 'general diffuse flows',
 'diffuse flows',
 'Zone 1 Power Consumption',
 'Zone 2  Power Consumption',
 'Zone 3  Power Consumption',
 'Year',
 'Month',
 'Day',
 'TotalMinutes']

In [32]:
x=df_train[l1[:5]+l1[8:]]
y=df_train[l1[5:8]]

In [33]:
x

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,0.0,-1.590576,-1.673245,-1.720065
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,0.0,-1.590576,-1.673245,-1.696007
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,0.0,-1.590576,-1.673245,-1.671949
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,0.0,-1.590576,-1.673245,-1.647891
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,0.0,-1.590576,-1.673245,-1.623833
...,...,...,...,...,...,...,...,...,...
47591,-1.160531,1.128508,-0.857391,-0.702507,-0.614385,0.0,1.578644,1.627942,1.623991
47592,-1.165763,1.141242,-0.858652,-0.702440,-0.614792,0.0,1.578644,1.627942,1.648049
47593,-1.164019,1.147609,-0.858652,-0.702451,-0.614385,0.0,1.578644,1.627942,1.672107
47594,-1.164019,1.141242,-0.858652,-0.702451,-0.614589,0.0,1.578644,1.627942,1.696165
47595,-1.237271,1.128508,-0.857811,-0.702588,-0.614182,0.0,1.578644,1.627942,1.720223

In [34]:
y

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,34055.69620,16128.87538,20240.96386
1,29814.68354,19375.07599,20131.08434
2,29128.10127,19006.68693,19668.43373
3,28228.86076,18361.09422,18899.27711
4,27335.69620,17872.34043,18442.40964
...,...,...,...
47591,31347.69231,25705.78512,13301.20482
47592,30603.07692,25088.42975,13081.44578
47593,29889.23077,24571.48760,12740.24096
47594,29249.23077,23942.97521,12480.00000
47595,28584.61538,23444.62810,12260.24096

In [35]:
y.columns

Index(['Zone 1 Power Consumption', 'Zone 2  Power Consumption',
       'Zone 3  Power Consumption'],
      dtype='object')

In [36]:
y1=y['Zone 1 Power Consumption']
y2=y['Zone 2  Power Consumption']
y3=y['Zone 3  Power Consumption']

In [37]:
x

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Year,Month,Day,TotalMinutes
0,-2.222861,0.358089,-0.853606,-0.702507,-0.614268,0.0,-1.590576,-1.673245,-1.720065
1,-2.248151,0.402658,-0.853606,-0.702437,-0.614534,0.0,-1.590576,-1.673245,-1.696007
2,-2.248151,0.402658,-0.854868,-0.702466,-0.614534,0.0,-1.590576,-1.673245,-1.671949
3,-2.299253,0.434494,-0.853606,-0.702466,-0.614448,0.0,-1.590576,-1.673245,-1.647891
4,-2.334135,0.479064,-0.854447,-0.702466,-0.614534,0.0,-1.590576,-1.673245,-1.623833
...,...,...,...,...,...,...,...,...,...
47591,-1.160531,1.128508,-0.857391,-0.702507,-0.614385,0.0,1.578644,1.627942,1.623991
47592,-1.165763,1.141242,-0.858652,-0.702440,-0.614792,0.0,1.578644,1.627942,1.648049
47593,-1.164019,1.147609,-0.858652,-0.702451,-0.614385,0.0,1.578644,1.627942,1.672107
47594,-1.164019,1.141242,-0.858652,-0.702451,-0.614589,0.0,1.578644,1.627942,1.696165
47595,-1.237271,1.128508,-0.857811,-0.702588,-0.614182,0.0,1.578644,1.627942,1.720223

In [38]:
y1

0        34055.69620
1        29814.68354
2        29128.10127
3        28228.86076
4        27335.69620
            ...
47591    31347.69231
47592    30603.07692
47593    29889.23077
47594    29249.23077
47595    28584.61538
Name: Zone 1 Power Consumption, Length: 47596, dtype: float64

In [39]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error

# Load the data
# train_data = pd.read_csv("train.csv")

In [40]:
def func(df_train):
    df_train.fillna(method='ffill', inplace=True)
    col=list(df_train.columns)
    cols_to_normalize = col[1:6]

    # Create the scaler object
    scaler = StandardScaler()

    # Fit and transform the selected columns
    normalized_data = scaler.fit_transform(df_train[cols_to_normalize])

    # Replace the original values with the normalized values
    df_train[cols_to_normalize] = normalized_data
    
    df_train[['Date', 'Time']] = df_train['DateTime'].str.split(' ', expand=True)

    # Extract Year, Month, and Day from Date column
    df_train[['Year', 'Month', 'Day']] = df_train['Date'].str.split('-', expand=True)

    # Combine Hour, Minute, and Second into Time column
    df_train['Time'] = df_train['Time'].str.split(':').apply(lambda x: x[0] + ':' + x[1])

    # Drop original DateTime and Date columns
    df_train= df_train.drop(columns=['DateTime', 'Date'])
    # Split Time column into separate Hour and Minute columns
    df_train[['Hour', 'Minute']] = df_train['Time'].str.split(':', expand=True)

    # Convert Hour and Minute columns to integers
    df_train['Hour'] = df_train['Hour'].astype(int)
    df_train['Minute'] =df_train['Minute'].astype(int)

    # Calculate total number of minutes
    df_train['TotalMinutes'] = (df_train['Hour'] * 60) + df_train['Minute']

    # Drop original Time, Hour, and Minute columns
    df_train = df_train.drop(columns=['Time', 'Hour', 'Minute'])
    df_train['Year']=df_train['Year'].astype('int64')
    df_train['Month']=df_train['Month'].astype('int64')
    df_train['Day']=df_train['Day'].astype('int64')
    l1=list(df_train.columns)
    print(l1)
    l1=l1[5:]
    cols_to_normalize=l1
    normalized_data = scaler.fit_transform(df_train[cols_to_normalize])

    # Replace the original values with the normalized values
    df_train[cols_to_normalize] = normalized_data
    return df_train

In [41]:
df1=func(df_test)

['Temperature', 'Humidity', 'Wind Speed', 'general diffuse flows', 'diffuse flows', 'Year', 'Month', 'Day', 'TotalMinutes']

In [42]:
df1

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Year,Month,Day,TotalMinutes
0,1.732345,-0.984161,-0.187036,-0.616525,-0.605367,0.0,0.0,-1.675247,-1.720064
1,1.708401,-0.916212,-0.193829,-0.616413,-0.605492,0.0,0.0,-1.675247,-1.696007
2,1.675478,-0.813192,-0.196094,-0.616388,-0.605296,0.0,0.0,-1.675247,-1.671950
3,1.645549,-0.749626,-0.193829,-0.616575,-0.605367,0.0,0.0,-1.675247,-1.647894
4,1.642556,-0.676562,-0.196094,-0.616550,-0.605492,0.0,0.0,-1.675247,-1.623837
...,...,...,...,...,...,...,...,...,...
4315,-1.877193,0.230891,-0.193829,-0.616575,-0.605438,0.0,0.0,1.675247,1.623837
4316,-1.896049,0.245504,-0.191565,-0.616506,-0.605492,0.0,0.0,1.675247,1.647894
4317,-1.910116,0.260117,-0.187036,-0.616301,-0.605829,0.0,0.0,1.675247,1.671950
4318,-1.952616,0.274729,-0.193829,-0.616413,-0.605563,0.0,0.0,1.675247,1.696007
4319,-2.005891,0.355100,-0.192697,-0.616438,-0.605172,0.0,0.0,1.675247,1.720064

In [43]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error

# Load the data
# train_data = pd.read_csv("train.csv")

# Split the data into features and target variable
# X = x
# y = train_data["target_variable"]

# Preprocess the data
# ...

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(x, y1, test_size=0.2, random_state=42)

# Create the Gradient Boosting model
model1= xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=3)
model1.fit(X_train, y_train)
# model2= xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3)
# model2.fit(x, y1)
# model3= xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3)
# model3.fit(x, y1)

# Evaluate the model
y_pred = model1.predict(X_val)
mse = mean_absolute_percentage_error(y_val, y_pred)
print("Mean squared error:", mse)

Mean squared error: 0.04118014931682834

In [44]:
X_train, X_val, y_train, y_val = train_test_split(x, y2, test_size=0.2, random_state=42)

# Create the Gradient Boosting model
model2= xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=3)
model2.fit(X_train, y_train)
y_pred = model2.predict(X_val)
mse = mean_absolute_percentage_error(y_val, y_pred)
print("Mean squared error:", mse)

Mean squared error: 0.05645862663085137

In [45]:
X_train, X_val, y_train, y_val = train_test_split(x, y3, test_size=0.2, random_state=42)

# Create the Gradient Boosting model
model3= xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=3)
model3.fit(X_train, y_train)
y_pred = model3.predict(X_val)
mse = mean_absolute_percentage_error(y_val, y_pred)
print("Mean squared error:", mse)

Mean squared error: 0.04641259989199251

In [46]:
y1_test=model1.predict(df1)

In [47]:
y2_test=model2.predict(df1)

In [48]:
y3_test=model3.predict(df1)

In [49]:
y1_test

array([38629.3  , 37778.4  , 36093.36 , ..., 36353.34 , 36650.902,
       36809.88 ], dtype=float32)

In [50]:
time=df_test['DateTime']

In [51]:
df = pd.DataFrame({'DateTime': time, 'Zone 1 Power Consumption': y1_test, 'Zone 2  Power Consumption':y2_test,'Zone 3  Power Consumption':y3_test})

# Use the to_csv() method to write the dataframe to a CSV file
df.to_csv('submission.csv',index=False)